/* CSS TO STYLE PORTFOLIO  */


/* FONTS IMPORT LINK */
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

*{
    font-family: 'Xanh Mono', monospace;
}


.heading h1{
    color: grey;
}

.heading h1:hover{
    color: black;
}   

 img{
    width: 50%;
    border: 1px solid black;
    border-radius: 100%;
    

}

#my_Pic{
    box-shadow: 1px -1px 30px 5px grey;
}

#my_Pic:hover{
    
    box-shadow: 1px -1px 30px 5px black;

}

footer img{
    width: 40px;
    border: none;

}
.footer{
    font-size: large;
    bottom: 0%;
    width: 100%;
    font-family: 'EB Garamond', serif; 
    position: static;
    margin-top: auto;
}

.footer_redirect{
    color: white;
    /* font-size: x-large; */
     font-weight: lighter;
    font-family: 'EB Garamond', serif; 

}



#footer_redirect:hover{
    color: black;
    font-family: 'Xanh Mono', monospace;
    font-family: 'EB Garamond', serif; 
}


footer{
    font-weight: bolder;
    font-size: x-large;
    letter-spacing: 1px;
}


footer p{
font-family: 'EB Garamond', serif; 
}

#portfolio-details{
    display:blocks;
    border: 1px solid black;
    box-shadow: 20px 15px 5px 2px gray;
    
}
#portfolio-skills{
    display:none;
    border: 1px solid black;
    box-shadow: 20px 15px 5px 2px gray;

}


#portfolio-more-details{
    display: none;
    border: 1px solid black;
    box-shadow: 20px 15px 5px 2px gray;
}

.progress {
    border: 1px solid black;
}

.fiverr_badge{
    border: 1px solid black;
    border-radius: 15px;
    transition: transform .3s;
}

.fiverr_badge:hover{
    transform: scale(1.1);
}

/* END OF THIS PAGE */
